@import "tailwindcss";

@theme {
  --color-nb-yellow: #FFEB3B;
  --color-nb-pink: #FF69B4;
  --color-nb-blue: #00D4FF;
  --color-nb-green: #CDDC39;
  --color-nb-black: #000000;
  
  --shadow-neo: 4px 4px 0px 0px #000000;
}

@layer base {
  :root {
    --font-geist-sans: var(--font-geist-sans);
    --font-geist-mono: var(--font-geist-mono);
    --font-inter: var(--font-inter);
    --font-ibm-plex-sans: var(--font-ibm-plex-sans);
    --font-manrope: var(--font-manrope);
    --font-mona-sans: "Mona Sans Variable", sans-serif;
  }
}
